/* Left-handed mode - move elements to the left side */

/* Move keypad to the left */
._2wl_hk5SjW9COBW6DRQrTf {
    margin: 20px 0 20px auto !important;
    transform: translateX(-50px) !important;
}

/* Move PIN dots to the left */
._3fJq6rBJ7S5sNtyQfIfgoF {
    transform: translateX(-50px) !important;
}