#Main > ._3rFFUJJVlS0W9hEA3hVEUa.Panel {
    background: url("https://media.giphy.com/media/Ssts7rvD7E01O/giphy.gif") center/cover no-repeat fixed !important;
    background-color: transparent !important;
}

/* Reduce status bar background opacity when using custom image */
.header_Header_1E_SL::before {
    opacity: 0.5;
}